template(name='view_profile')
    .ui.large.button.view_profile
        |view profile
    +user_info
template(name='view_model')
    a.ui.large.button.view_model(href="/m/#{slug}")
        |view model
        i.external.icon


template(name='view_minute')
    a.ui.button(href="/minute/#{_id}/view")
        i.right.chevron.icon
        |view minute


template(name='add_to_cart')
    .ui.large.button.add_to_cart
        |add to cart
    .ui.list
        each cart_items
            .item #{product.title}
