// template(name='map')
//     .ui.segment
//         .ui.header.mapbox map  
//         // #map
//         // .ui.fluid.button.refresh
//         //     i.marker.icon
//         //     |reload location data
//         // #mapid
//         // unless pos
//         // .ui.one.column.padded.grid
//         //     .column
//         //         .ui.center.aligned.header People Near You: #{my_longform} (#{my_category})
//         //         .ui.four.column.stackable.padded.centered.grid
//         //             each nearby_people
//         //                 +nearby_person


template(name='map2')
    .ui.padded.grid
        .sixteen.wide.column
            .ui.inline.header map
            .ui.big.disabled.button.init 
                i.checkmark.icon
                |init
            .ui.button.draw  
                i.pencil.icon
                |draw map
            .ui.button.find_me  
                i.marker.icon
                |find me
            .ui.button.toggle_moving
                if can_move
                    i.chevron.right.icon
                    |movable
                else
                    i.lock.icon
                    |locked
            .ui.input
                input.add_place(type='text' placeholder='add geocoded place')
            each current_markers
                .ui.label 
                    i.remove.icon
                    |#{this}
            #map