template(name='chat')
    .ui.stackable.padded.grid 
        .sixteen.wide.column 
            .ui.header 
                +i name='chat'
                |chat
            .ui.input
                input(type='text')