template(name='building_food')
    .ui.stackable.padded.grid
        .row
            .ui.header
                +i name='product'
                | food
        .row
            .eight.wide.column
                .ui.stackable.cards
                    each meals
                        .ui.card
                            img.ui.rounded.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                            .content
                                a.ui.header(href="/meal/#{_id}/view") #{title}
                                each ingredients
                                    .ui.basic.label #{this}
    
