template(name='building_food')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.header
                    +i name='food'
                    | food
            .twelve.wide.column
                .ui.stackable.three.cards
                    each meals
                        .card
                            img.ui.rounded.image(src="{{c.url image_id width=400 height=400 crop='lfill'}}")
                            .content
                                a.ui.header(href="/meal/#{_id}/view") #{title}
                                each ingredients
                                    .ui.basic.label #{this}
    
