template(name='building_market')
    .ui.stackable.padded.grid
        .ui.header 
            +i name='shop'
            |market
        .two.column.row
            .column
                .ui.header 
                    +i name='product'
                    |products
                .ui.circular.icon.button.add_product
                    i.plus.icon
                each building_products
                    .ui.header #{title}
            .column
                .ui.header 
                    +i name='service'
                    |services
                .ui.circular.icon.button.add_service
                    i.plus.icon
                each building_service
                    .ui.header #{title}
    
    
template(name='building_products')
    .ui.header 
        +i name='product'
        |products
    
template(name='building_services')
    .ui.header 
        +i name='work'
        |services
    
