template(name='building_members')
    .ui.header 
        +i name='shield'
        |leader
    a.ui.header(href="/user/#{username}/dashboard") #{building_leader.username}
    .ui.header    
        +i name='groups'
        |members
    .ui.large.selection.animated.list
        each building_users
            a.item(href="/user/#{username}/dashboard")
                .content
                    .header
                        | #{username}    
    
    
