template(name='food')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.header 
                +i name='food'
                |food
            .ui.large.input 
                input.food_search(type='text' placeholder='search food...' value=current_search)
            each recipe_docs
                .ui.header #{name}