template(name='user_messages')
    .ui.center.aligned.header 
        i.envelope.outline.icon
        |user messages
    if currentUser
        .ui.fluid.icon.input
            i.plus.icon
            input#new_message(type='text' placeholder='new message...')
    each user_messages
        .ui.smoothed.segment
            .ui.small.header #{body}
            each tags
                .ui.label #{this}
            div
            +notify_message
            +user_list_toggle key='read_by_ids' label='mark read' icon='eye'
            if can_edit
                +remove_button
            div
            +author_info
            +creation_info
            //- +watson_view
            
template(name='notify_message')
    unless notified
        .ui.icon.button.notify(title="notify #{to_username}")
            i.rss.icon
